<!DOCTYPE html>
<html>
  <head>
    <title>Sample HTML app</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/puppies">Puppies</a>
        <a href="/travel">Travel</a>
        <a class="active" href="/memes">Memes</a>
    </div>
    <h1>Memes</h1>
    <h3>Some of my favorite places to get a good meme:</h3>
    <ul>
      <li><a href="buzzfeed.com">Buzzfeed</a></li>
      <li><a href="facebook.com">Facebook</a></li>
      <li><a href="snapchat.com">Snapchat</a></li>
      <li><a href="reddit.com">Reddit</a></li>
    </ul>
  </body>
</html>
